.counter-button {
    background : green;
    font-size : 16px;
    padding : 15px 30px;
    color : white;
    width : 100px;
}

body {
    padding : 15px 30px
}

.counter-reset{
    background : red;
    width : 200px;
}

.counter-count {
    font-size : 50px;
    padding: 15px 30px;
}
